<div>
    <label for="post-title">Title</label><br>
    <input type="text" name="post-title" id="post-title" required><br>
    <label for="post-description">Description</label><br>
    <textarea name="post-description" id="post-description" required></textarea><br>
    <label for="post-body">Body</label><br>
    <textarea name="post-body" id="post-body" required></textarea> <br>
    <a href="/" >Cancel</a>
    <button type="submit">Save</button>
</div>
